    <div class="hidden-xs" style="width: 100%; margin: auto;">
      <div class="toolbar">
        <div class="pager hidden-xs">
          <p class="amount">Items <strong>{{(currentPage-1)*5+1}}</strong> to <strong>{{currentPage*5>total?total:currentPage*5}}</strong> of
            <strong>{{total}}</strong> total</p>
          <div class="pages"><strong>Page:</strong>
            <a class="prev" *ngIf="currentPage!==1" [routerLink]="['../',currentPage-1]"> &lt;&lt; </a>
            <a class="change" *ngFor="let item of _pages" [routerLink]="['../',item]" routerLinkActive="acitve">{{item}}</a>
            <a class="next" *ngIf="currentPage!==_pages.length" [routerLink]="['../',currentPage+1]"> &gt;&gt; </a>
          </div>
        </div>
      </div>
    </div>
