.change{
    border: none;
    font-size: 15px;
    color: black;
    margin-left: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #F3F3F3;
}
.butjian{
    border: none;
    background-color: #F3F3F3;
    cursor: pointer;
    margin-left: 5px;
}