
.col-wide{
    width: 360px;
}
.Button{
    background: #000;
	border: none;
    color: #fff;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 16px;
    margin: auto;
}

.active{
    background-color: black;
    color: white;
    font-size: 14px;
    width: 160px;
    height: 45px;
    margin-top: 20px;
    float: left;
  }