<div class="main-container">
    <div class="container">

      <div class="centerColumn" id="ezPageDefault">
        <div class="page-title">
          <h1>Shipping &amp; Returns</h1>
        </div>


        <div>
          <div class="eapagrcontent">

            <p>We guarantees that subject to the following conditions, refund and replacement can be requested
              within 7 calendar days of the delivery date and replacement can be requested within 15 calendar days
              of the delivery date.</p>

            <section id="content">
              <p>
              </p>
              <p> </p>
              <h2>Main shipping method</h2><br>
              <p></p>

              <p> </p>
              <h2>Standard shipping:</h2><br>
              <p></p>
              <p> Delivery time is between 4 - 8 days to all major destinations, standard shipping costs less but
                takes a bit longer than expedited shipping. Note: The above delivery estimates do not include order
                processing time.<br></p>

              <p> </p>
              <h2>Expedited shipping:</h2><br>
              <p></p>

              <p> Delivery time is between 2 - 5 days to all major destinations, the fastest shipping method
                worldwide.<br></p>



              <p> According to the length of time and circumstances in different countries，customers always expect
                to receive their items at specific time, therefore, different couriers are chosen.<br></p>

              <p> You can choose your couriers based on a combination of the following:<br></p>
              <p> A) Weight and dimensions of package<br></p>
              <p> B) The location：We are shipping from (city, state, country or region)<br></p>
              <p> C) The location：We are shipping to (also called the destination country or region)<br></p>
              <p> Shipping costs are calculated individually for each order based on the number and weight of items
                in your order, as well as the shipping method chosen.</p>




            </section>
          </div>
        </div>
      </div>

    </div>
  </div>