.change{
    border: none;
    width: 25px;
    text-align: center;
    cursor: pointer;
    background-color: #F3F3F3;
}
.butjian{
    border: none;
    background-color: #F3F3F3;
    cursor: pointer;
}