<div class="main-container">
  <div class="container">

    <div class="centerColumn" id="ezPageDefault">
      <div class="page-title">
        <h1>About Us</h1>
      </div>


      <div>
        <div class="std">
          We are a professional and reliable online shopping center providing a variety of hot selling products at
          reasonable prices and shipping them globally. As a global online store, bestbackpacksale.com has
          developed long lasting ties with factories, distributors and warehouses throughout the wholesale
          community. Eliminating unnecessary costs and delivering the lowest possible prices to customers
          worldwide, our aim is to make every one of our customers can access to their favorite products with the
          lowest price. We understand every customers have different needs about the prices and the quality of the
          products, so the prices of our products are set are based on the different quality of our products. We
          are committed to making every customers are able to buy what they really need when they are in
          bestbackpacksale.com , and enjoy shopping time.<br><br>

          bestbackpacksale.com offers excellent, comprehensive customer service every step of the way. Before you
          order, make real time inquiries through use of our live chat. Once you’ve made a purchase, our customer
          service representatives are always on-hand to answer questions through our website’s easy to use ticket
          system. Shop with confidence and save with bestbackpacksale.com !<br><br>

          We use DHL, EMS and UPS, etc. to deliver the products to major destinations, such as the US, Europe and
          Australia, in just a few days, which makes it convenient for your to get your wholesale orders. We have
          been focusing on combining the best quality, the latest style together with the lowest prices on
          bestbackpacksale.com. We’ve always been trying our best to provide our customers with pleasing online
          shopping experience. We know that qualities, prices, shipping time, customer service are what you
          concern about most. Thus, we attach great significance to all these four factors in order to make us a
          customer-friendly online shopping website.<br><br></div>
      </div>
    </div>

  </div>
</div>



<!-- <div class="bg-white">
<div class="container mt-2  p-5 ">
  
    <h2 class="text-center "> 关于 {{MALL_NAME}}</h2>
    <h2 class="text-center f">ABOUT {{MALL_NAME}}</h2>
    
    <p class="pt-3 pb-5 text-center f">our primary focus is engineering and design excellence. Our custom written, state-of-the-art domain and hosting software is stable, fast, and easy to use. From humble beginnings, we have grown steadily and now serve thousands of customers from 108 different countries around the world.
    </p>
    
    
     <h2 class="text-center">公司理念</h2>
    <p class="text-center pb-4 font-weight-bold"> 我们的目标是以合理的价格向客户提供世界级的注册及托管服务。我们网站的大部分是自动化运作，这使我们得以在很大程度上为客户提供行业内最低的价格。与此同时，我们竭力为客户提供卓越服务，对客户所提的全部问题予以有益的回应。如您有任何不满之处，尽请与我们联络，我们将竭尽全力助您解决问题。
    </p>
    <h2 class="text-center f"> COMPANY PHILOSOPHY</h2>
    <p class="text-center pb-4 f">Our goal is to provide our customers with world class registration and hosting services for a reasonable price. Most of our site is fully automated, allowing us to offer some of the lowest prices in the industry. At the same time we strive to provide excellent customer service, and helpful responses to all questions. If anything is not to your satisfaction, feel free to contact us, and we will do our best to resolve the situation.
    
    </p>
    
   <h2 class="text-center">
    财务稳定性</h2> 
    {{MALL_NAME}} 是一家无负债的私营公司。在这样一个公司频繁涌现，又频繁消亡的行业，我们稳固的资本架构，确保了公司的稳定运营。我们的运营及发展规划均于长远计，不以上市或被兼并为目的进行低劣而盲目扩张。
      <h2 class="text-center f">
    FINANCIAL STABILITY</h2>
   <p class="text-center pb-4"> Dynadot is a debt-free, privately held company. Our solid financial infrastructure provides stability in an industry where companies appear and disappear frequently. We plan to operate and grow this business for a long time, and we do not intend to go public or become acquired by a faceless corporation.
    </p>
     <h2 class="text-center">
    
    个性化客户服务</h2>
     <p class="text-center pb-4 font-weight-bold">我们会用心的回复每一封邮件，而不是简单的复制粘贴。客服代表全部经过高度客户服务培训，他们与我们的软件工程师紧密配合，能为您提供切实有效的建议，解决您的问题。
  </p> <h2 class="text-center">  PERSONALIZED CUSTOMER SERVICE</h2>
     <p class="text-center pb-4">We individually respond to every email we receive - no cut and paste responses. Customer service is handled by highly trained customer service representatives that work closely with our software engineers, so you are likely to get an intelligent response to your question.
    </p>

</div>
</div> -->