<form name="quickcheckout" method="post">
    <ol class="col-narrow ">
      <li id="opc-order_review" class="section active table-bordered ">
        <div class="step-title ">
          <span class="icon" i18n>
            {{'account.signed' | translate}}
          </span>
          <span i18n>
            {{'account.put' | translate}} <img src="../../../../assets/images/icons/down.png" alt="">
          </span>
        </div>
       
        <table width="100%" id="shopping-cart-table" class="table  cart-table">
            <tr class="first a-left">
                <th  width="5%" >
                 
                </th>

                <th  width="10%">
                    2020-05-15
                </th>
                <th  width="5%">周五</th>            
                <th  width="10%">
                    <p>08:57:54</p>
                    <p>12:46:32</p>
                </th>
                <th  width="70%">
                    <p>您的快件已存放至xxxxxx速递易【自提柜】，请及时取件。有问题请联系派件员120120120120</p>
                    <p>已签收，签收人凭取货码签收。感谢使用xxxx速递易【自提柜】，期待再次为您服务。</p>
                </th>
              </tr>   
        </table>
      </li>
    </ol>
  </form>
