
      <div class="main-container">
        <div class="container">

          <div class="centerColumn" id="contactUsDefault">

            <form name="contact_us" >

              <div id="contactUsNoticeContent" class="content">
              </div>


              <fieldset id="contactUsForm">
                <legend>Contact Us</legend>
                <div class="alert forward">* Required information</div>
                <br class="clearBoth">

                <label class="inputLabel" for="contactname">Full Name:</label>
                <input type="text" name="contactname" size="40" id="contactname"><span class="alert">*</span><br
                  class="clearBoth">

                <label class="inputLabel" for="email-address">Email Address:</label>
                <input type="text" name="email" size="40" id="email-address"><span class="alert">*</span><br
                  class="clearBoth">

                <label for="enquiry">Message:<span class="alert">*</span></label>
                <textarea name="enquiry" cols="30" rows="7" id="enquiry"></textarea>
              </fieldset>

              <div class="buttonRow forward"><input class="cssButton button_send"
                  type="button" value="Send Now"></div>
              <div class="buttonRow back"><span class="cssButton button_back"
                    >Back</span></div>
            </form>
          </div>
        </div>
      </div>
