<app-header></app-header>
<!-- <app-navrouting></app-navrouting> -->
<app-shuffling></app-shuffling>
<div id="alsoPurchased" class="centerBoxWrapper">
    <section class="product-list">
        <div class="head-section page-title">
            <h2 class="centerBoxHeading" >YOU MAY ALSO LIKE</h2>
        </div>
        <!-- 商品列表循环 -->
        <app-goods-lists [detail]="products"></app-goods-lists>
    </section>
</div>
<!-- <script>
    console.log('111111111111');
      bb();
</script> -->
<app-footer></app-footer>