ul,li{ padding:5px;margin:0;list-style:none;}
.libox{
    text-align: center;
}
h2 a{color: gray;}
.libox .item img{
    margin: auto;
}
.price-box span { 
    margin-top: 4px;
}

.f10px{
    font-size: 10px;
}
.f16px{
    font-size: 20px;
}
.price-box span{
    line-height: 30px;
}