
<div id="ac-globalfooter" class="footer-bg">
    <div id="" class="container_foor">
       <div class="row clearfix">
         <div class="footer_nav clearfix">
           <div class="col-sm-4 col-xs-12 footerlist">
              <h4 i18n>{{'footer.information' | translate}}</h4>
              <div class="bd"><ul>
                 <li class="first" i18n><a >{{'footer.cou' | translate}}</a></li>
                 <li i18n><a >{{'footer.sar' | translate}}</a></li>
                 <li class="last" i18n><a >{{'footer.pn' | translate}}</a></li>
              </ul></div>
           </div>
           <div class="col-sm-4 col-xs-12 footerlist">
              <h4 i18n>{{'footer.customer' | translate}}</h4>
              <div class="bd"><ul>
                 <li class="first" i18n><a >{{'footer.au' | translate}}</a></li>
                 <li i18n><a >{{'footer.cu' | translate}}</a></li>
              </ul></div>
           </div>
           <div class="email_followus col-sm-4 col-xs-12 footerlist">
              <h4 i18n>{{'footer.newsletter' | translate}}</h4>
              <p i18n>{{'footer.eyeatston' | translate}}</p>
              <div class="email_bd">
                <form name="subscribe">
                  <input type="hidden" name="securityToken">
                  <input type="hidden" name="act" value="subscribe">
                  <input type="hidden" name="main_page" value="subscribe">        
                  <ul class="footer_email_signup">
                    <li class="text">
                      <input i18n type="text" value="{{'footer.eea' | translate}}" onfocus="if (this.value == 'Enter email address') this.value = '';" name="email" class="input_text email" id="emailInput">
                      <button class="compact subscribe_submit" type="submit"><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><title i18n>{{'footer.information' | translate}}</title><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path><path d="M0-.25h24v24H0z" fill="none"></path></svg></button>
                    </li>
                  </ul>
                </form>
              </div>
           </div>
         </div>
       </div>
       <div id="siteinfoLegal" class="legalCopyright">
          Copyright © 2020 <a  target="_blank" i18n>{{'footer.bottombar' | translate}}</a>
       </div>
    </div>
 </div>



